.featureCard {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  min-height: 18rem;
  width: 22.5rem;
  border-radius: 16px;
  background: var(--primary-50, #f0f5ff);
  margin-right: 2rem;
}
